$border-light: #999;
.App {
  // text-align: center;
  background-color: #246969;
  margin: 0;
  padding: 1rem;
  color: white;
  min-height: 100vh;

  display: grid;
  grid-row-gap: 1rem;
}

.header {
  display: flex;
  justify-content: center;
}
.logo {
  width: 120px;
  margin: 0 2rem 0 0;
}
.title {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 600;
}

.tracker {
  width: 595px;
  height: 842px;
  padding: 64px 48px;
  background: white;
  color: #444;

  justify-self: center;
}

.tracker-header {
  font-size: 48px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.tracker-body {
  // background-color: rgb(163, 191, 242);
  margin: 2rem 0;
  padding: 1rem 0;
}

.habit-line {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.habit-name {
  width: 30%;
  height: 1.25rem;
  border-bottom: $border-light dotted 1px;

  margin-right: 1.5rem;
}
.day-box {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: $border-light solid 1px;

  margin-right: 0.5rem;
}
